.post-more .more-link:hover,
.symp-btn:hover,
.process:hover > .number,
.pricing-table > .table-btn:hover,
.service > .icon,
.hobby > .icon,
.timeline > li:not(.timeline-header):before,
.process > .number > span:after,
.testimonials-slider .owl-controls > .owl-pagination > .owl-page.active > span,
.testimonials-slider .owl-controls > .owl-pagination > .owl-page:hover > span,
.close-btn > span:before{
	background:#73C2FB;
}
.sidebar-list > li > a:hover,
.post .read-more:hover,
.post > .content > h4 > a:hover,
.process > .number,
.skill > h4,
.front-person-links > ul > li > a:hover{
	color:#b00ff0;
	font-weight: bolder;
	font-size: x-large;
}
.skill > h4 {
	color:#777;
}
.number > span {
	color:#73C2FB;
}
.number > span:hover {
	color: #F5F5F5;
}
.testimonials-slider .owl-controls > .owl-pagination > .owl-page > span,
.form-control:focus,
.process.last > .number > span:before,
.process > .number{
	border-color:#73C2FB;
}
.process > .number > span:before{
	border-left-color:#73C2FB;
}







.footer-social > li > a:hover{
	color:#00008B;
	background-color: rgb(252, 252, 252);
	font-weight: bolder;
	font-size: x-large;
}